@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #65626d;
  min-height: 100vh;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: white;
}

.app-root {
  height: 100vh;
}

.secondary-color{
  background-color: #7b1fa2;
  color: white;
}

.snackbar{
  background-color: #7b1fa2!important;
  color: white!important;
  transition: all 0.3s;
  position: absolute;
  bottom: 8em;
  right: 10px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  z-index: 99;
}
